#set($header='<#include "../../_layout/_layout2.0.html"><#t><@header/>')
$header
<div class="admin-main">
    <!-- 按钮组 -->
    <blockquote class="layui-elem-quote">
        $add
        <a href="javascript:void(0)" class="layui-btn layui-btn-sm operator-btn" data-type="add"><i class="layui-icon">&#xe654;</i> 添加</a>
        $end
    </blockquote>
    <!-- 筛选组 -->
    <blockquote class="layui-elem-quote filter-bar">
        <form class="layui-form"  id="filterForm">
            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName)
                    <div class="layui-inline">
                        <label class="layui-filtrate-title">${column.comments}：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input"  name="${column.attrname}">
                        </div>
                    </div>
                #end
            #end
            <div class="layui-inline">
                <a href="javascript:void(0)" class="layui-btn layui-btn-sm operator-btn" data-type="search"><i class="layui-icon layui-icon-search"></i>搜索</a>
                <a href="javascript:void(0)" class="layui-btn layui-btn-sm operator-btn" data-type="reset"><i class="layui-icon layui-icon-refresh-3"></i>重置</a>
            </div>
        </form>
    </blockquote>
</div>
